# Disputed Author Project (dap)

In [2]:
import pandas as pd
import numpy as np

In [89]:
# Sample corpus for testing
d1 = {
    'author': 'Plato',
    'title': 'Symposium',
    'text': 'This is the text of the Symposium.  It is just an example for testing.'
}

d2 = {
    'author': 'Aristotle',
    'title': 'Nico. Ethics',
    'text': 'This is a second text, by a different author.  It is still just for testing.'
}

d3 = {
    'author': 'Xenophon',
    'title': 'Apology',
    'text': 'This is a third text.  It is also just used for testing.  Do not get excited.'
}

dataset = pd.DataFrame(data=[d1, d2, d3], columns=['author', 'title', 'text'])
#dataset = dataset.set_index('title')
print dataset

      author         title                                               text
0      Plato     Symposium  This is the text of the Symposium.  It is just...
1  Aristotle  Nico. Ethics  This is a second text, by a different author. ...
2   Xenophon       Apology  This is a third text.  It is also just used fo...

In [90]:
from sklearn.feature_extraction.text import TfidfVectorizer

vec = TfidfVectorizer()

vec.fit(dataset['text'])

TfidfVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm=u'l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents=None, sublinear_tf=False,
        token_pattern=u'(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [91]:
tf_idf_vec = vec.transform(dataset['text'])

In [92]:
tf_idf_vec.toarray()

array([[ 0.        ,  0.29503437,  0.        ,  0.        ,  0.        ,
         0.        ,  0.29503437,  0.        ,  0.17425205,  0.        ,
         0.3485041 ,  0.17425205,  0.17425205,  0.        ,  0.29503437,
         0.        ,  0.        ,  0.29503437,  0.17425205,  0.17425205,
         0.59006874,  0.        ,  0.17425205,  0.        ],
       [ 0.        ,  0.        ,  0.34323401,  0.34323401,  0.34323401,
         0.        ,  0.        ,  0.        ,  0.20271953,  0.        ,
         0.40543907,  0.20271953,  0.20271953,  0.        ,  0.        ,
         0.34323401,  0.34323401,  0.        ,  0.20271953,  0.20271953,
         0.        ,  0.        ,  0.20271953,  0.        ],
       [ 0.30877917,  0.        ,  0.        ,  0.        ,  0.        ,
         0.30877917,  0.        ,  0.30877917,  0.18236995,  0.30877917,
         0.3647399 ,  0.18236995,  0.18236995,  0.30877917,  0.        ,
         0.        ,  0.        ,  0.        ,  0.18236995,  0.18236995,
         0.        ,  0.30877917,  0.18236995,  0.30877917]])

In [93]:
tf_idf_df = pd.DataFrame(columns=vec.get_feature_names(), data=tf_idf_vec.toarray())

In [94]:
#tf_idf_df['title'] = dataset['title']

In [100]:
cluster_df = dataset.join(tf_idf_df, lsuffix='_meta')

In [101]:
print cluster_df

  author_meta         title  \
0       Plato     Symposium
1   Aristotle  Nico. Ethics
2    Xenophon       Apology

                                           text_meta      also        an  \
0  This is the text of the Symposium.  It is just...  0.000000  0.295034
1  This is a second text, by a different author. ...  0.000000  0.000000
2  This is a third text.  It is also just used fo...  0.308779  0.000000

     author        by  different        do   example    ...           of  \
0  0.000000  0.000000   0.000000  0.000000  0.295034    ...     0.295034
1  0.343234  0.343234   0.343234  0.000000  0.000000    ...     0.000000
2  0.000000  0.000000   0.000000  0.308779  0.000000    ...     0.000000

     second     still  symposium   testing      text       the     third  \
0  0.000000  0.000000   0.295034  0.174252  0.174252  0.590069  0.000000
1  0.343234  0.343234   0.000000  0.202720  0.202720  0.000000  0.000000
2  0.000000  0.000000   0.000000  0.182370  0.182370  0.000000  0.308779

       this      used
0  0.174252  0.000000
1  0.202720  0.000000
2  0.182370  0.308779

[3 rows x 27 columns]

In [103]:
cluster_df = cluster_df.set_index('title')

In [107]:
y_set = cluster_df.select(cluster_df['author_meta'])
X_set = cluster_df.drop('author_meta', 1)

print y_set
print X_set

TypeError: 'Series' object is not callable